<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="styles.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="main-content">
        <section class="left-section">
         <div class="left-content">
            <div class="profile">
                <div class="image">
                    <img src="/img/44197831_1925615177523529_7242178961231314944_n.jpg" alt="">
                </div>
                <h2 class="name">Powell O-A., Alexander</h2>
                <p class="career">Backend Web Developer</p>
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contact Info</h3>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            +2348134383490
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            ayodeleola.eniara@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-globe"></i>
                            <a href="https://thetalksonline.wordpress.com/">The Talks</a>
                        </li>
                        <li>
                            <i class="fa fa-facebook"></i>
                            <a href="https://www.facebook.com/aj.montanajones">aj.montanajones</a>
                        </li>
                        <li>
                            <i class="fa fa-instagram"></i>
                            @aj_montanajones
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            Lagos, Nigeria
                        </li>
                    </ul>
                </div>
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">Javascript</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Frontend</p>
                            <div class="progress-bar">
                                <div class="progress fe-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Web Design</p>
                            <div class="progress-bar">
                                <div class="progress wds-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Web Dev</p>
                            <div class="progress-bar">
                                <div class="progress wd-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">UI/UX Design</p>
                            <div class="progress-bar">
                                <div class="progress ui-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Digital Mktg</p>
                            <div class="progress-bar">
                                <div class="progress dm-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Node js</p>
                            <div class="progress-bar">
                                <div class="progress nj-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">html/css</p>
                            <div class="progress-bar">
                                <div class="progress hc-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">C++</p>
                            <div class="progress-bar">
                                <div class="progress c-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Wordpress</p>
                            <div class="progress-bar">
                                <div class="progress wp-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">illustrator</p>
                            <div class="progress-bar">
                                <div class="progress il-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Ruby</p>
                            <div class="progress-bar">
                                <div class="progress rb-progress"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="references-section">
                    <h3 class="main-title">References</h3>
                    <div class="referee">
                        <h6 class="sub-title">Rosemary Amisu</h6>
                        <p class="sub-para">Medical Doctor</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                +1 (240) 505-2595
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                rhozmarieh@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="referee">
                        <h6 class="sub-title">Sarah Alexander</h6>
                        <p class="sub-para">Front-End Developer</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                +2348165358926
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                tobbie413@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="referee">
                        <h6 class="sub-title">Joan Alexander</h6>
                        <p class="sub-para">Project Manager</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                +2347015060782
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                peerless_predex@outlook.com
                            </li>
                        </ul>
                    </div>
                    <section class="left-section">
                        <div class="left-content">
                           <div class="profile">
                               <div class="image">
                                <img src="/img/images.jpg" alt="">
                               </div>
                               <h2 class="name">HNG Internship (Zuri - HNGi8)</h2>
                               <p class="career"><a href="https://internship.zuri.team/">Meet Zuri Team</a></p>
                </div>  
                    </section>
                </div>
         </div>
        </section>
        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">
                        Senior Software Engineer and Professional Business Developer with strong experience creating high-
                        quality, scalable, and high-performance web applications seeking UI/UX Design, Digital Marketing, and  
                        Full Stack opportunities, with more than four years of experience in the business development processes. 
                        Involved in product testing, management, and development of new business opportunities. <br>
                        <br>
                        Dedicated and efficient full stack developer with 6+ years’ experience in application layers, presentation
                        layers, and databases. Certified in both F/E and B/E technologies. Spearheaded successful transition
                        from LAMP stack to MEAN which cut latency by 40% and increased effectiveness of database 
                        administrators by 20%. Seeking to further improve HTML5 and CSS3 skills as the future full stack 
                        developer at Atmospheric Solutions.  
                    </p>
                </section>

                <section class="experience sect">
                    <h2 class="right-title">Experience</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">athenahealth</h5>
                            <p class="para">2017 - Present</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Member of Technical Staff</h5>
                                <p class="para">Developed widgets using React and Less to display patient information.</p>
                                <p class="para">Created design specifications, participated in design and code reviews.</p>
                                <p class="para">Worked on the design and initial development of a new platform to import medical documents.</p>
                                <p class="para">Developed a Kotlin micro-service to generate XML documents based on a government-compliant architecture (CCDA).</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">MicroAssist</h5>
                            <p class="para">2015 - 2017</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">PHP Developer</h5>
                                <p class="para">Designed and developed different web projects with a focus on accessibility, including new features and website enhancements.</p>
                                <p class="para">Created and integrated an automated mail system with 3rd party APIs.</p>
                                <p class="para">Developed and collaborated in the translation project of the ITTD website for the Texas Department of Public Safety.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Hewlett-Packard</h5>
                            <p class="para">2011 - 2015</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">IT Engineer</h5>
                                <p class="para">Developed two internal content management systems (related to HP’s products documentation) with over three million monthly visitors.</p>
                                <p class="para">Coordinated efforts with an overseas team, applying Agile methodologies to ensure on-time, on-spec project delivery.</p>
                                <p class="para">Improved different batch jobs performance, reducing execution time by over 50%, and eliminating downtime.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Apple</h5>
                            <p class="para">2008 - 2011</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Web Developer</h5>
                                <p class="para">Worked with stakeholders to refine and negotiate product requirement specifications, functional specifications, and product vision and direction.</p>
                                <p class="para">Designed a web component that reduced page load speed by over 15%, improving SEO and accessibility, and saving authoring expenses.</p>
                                <p class="para">Organized and participated in events representing GM at volunteering opportunities and competitions.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="education sect">
                    <h2 class="right-title">Education</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">University in Oxford, England</h5>
                            <p class="para">2006 - 2009</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">B.S. Computer Science</h5>
                                <p class="para">Helped implement a new process to streamline communication between the development team and operations.</p>
                                <p class="para">Leveraged my knowledge of java and Python to write interfaces to manage backup log data.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Harvard University,Cambridge, Massachusetts</h5>
                            <p class="para">2009 - 2011</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">M.S. Computer Science</h5>
                                <p class="para">Used Swift to develop a productivity app for iOS to help architects render and edit blueprints.</p>
                                <p class="para">Fixed bugs in existing apps, contributing to an overall 25% reduction in customer complaints.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="awards-and-certifications sect">
                    <h2 class="right-title">Awards & Cert.,</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Scrum Alliance</h5>
                            <p class="para">2013</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Certified ScrumMaster</h5>
                                <p class="para">Together, We Are Transforming the World of Work.</p>
                                <p class="para">Your business needs to adapt and evolve quickly. You want to grow more agile, and it’s not easy to go it alone. We can help. As a not-for-profit, Scrum Alliance serves our members in the pursuit of a better way to work. Join our community. Discover your people.</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">American Red Cross</h5>
                            <p class="para">2016</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">CPR & FIRST AID CERTIFIED</h5>
                                <p class="para">The American Red Cross, also known as The American National Red Cross, is a non-profit humanitarian organization that provides emergency assistance, disaster relief, and disaster preparedness education in the United States</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>


        
        <!DOCTYPE html>
<html>
<head>          
      <title></title>
</head>
<body> 
    <div class="container">  
        <form id="contact" action="" method="post">
          <h3>Contact Me</h3>
          <h4>Contact us today for your full stack development!</h4>
          <fieldset>
            <input name="name" placeholder="Name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input name="email" placeholder="Email Address" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input name="subject" placeholder="Subject" type="text" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input name="phone" placeholder="Phone Number" type="text" tabindex="4" required>
          </fieldset>
          <fieldset>
            <textarea name="message" placeholder="Message Here...." type="text" tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
       
        
      </div>
</body>
</html>